<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SabadBan Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>SabadBan Prod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>SabadBan Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9476FADD1DBB425700B923D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9476FB631DBB425B00B923D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9476FBE91DBB426900B923D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949BEE4D1D72A51B008FA574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EDFDDB1DA9293900917165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EDFDE61DA93CF600917165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
