<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>266338300987-7e237svgi15qobcn7dvr6mtn0e1uk7t9.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.266338300987-7e237svgi15qobcn7dvr6mtn0e1uk7t9</string>
        <key>API_KEY</key>
        <string>AIzaSyBDOeNFePgKh3a_OTuUuIQXKYtNBwqmu4c</string>
        <key>GCM_SENDER_ID</key>
        <string>266338300987</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.zoitek.SabadBan</string>
        <key>PROJECT_ID</key>
        <string>sabadban-c0888</string>
        <key>STORAGE_BUCKET</key>
        <string>sabadban-c0888.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:266338300987:ios:59233b48f92a156b</string>
        <key>DATABASE_URL</key>
        <string>https://sabadban-c0888.firebaseio.com</string>
    </dict>
</plist>